@import url("https://fonts.googleapis.com/css2?family=Bevan&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Bevan", cursive;
  font-size: 17px;
  background: #ccc;
  color: rgb(37, 35, 35);
  margin: 0;
}

#name {
  background-color: #fff;
  padding: 2px 10px;
}

.get-btn {
  margin: 5px;
}
